<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <!-- <bean id="student" class="percy.spring.annotationbaseddi.Student">
        <property name="age" value="23"></property>
        <property name="name" value="percy"></property>
    </bean> -->

    <!-- standard constructor di-->
    <!-- <bean id="textEditor" class="percy.spring.annotationbaseddi.TextEditor">
        <constructor-arg index="0" value="notepad++"></constructor-arg>
        <constructor-arg index="1" ref="spellChecker"></constructor-arg>
    </bean> -->

    <!-- standard setter di-->
    <!-- property.name is field name-->
    <!-- <bean id="textEditor" class="percy.spring.annotationbaseddi.TextEditor">
        <property name="spellChecker" ref="spellChecker"></property>
        <property name="name" value="notepad++"></property>
    </bean> -->

    <!-- @Autowired-->
    <bean id="textEditor" class="percy.spring.annotationbaseddi.TextEditor">
        <property name="name" value="notepad++"></property>
    </bean>

    <!-- which to use when autowiring? use @Qualifier-->
    <bean id="spellChecker1" class="percy.spring.annotationbaseddi.SpellChecker"></bean>
    <bean id="spellChecker2" class="percy.spring.annotationbaseddi.SpellChecker"></bean>

</beans>